doctype html
head
  meta(charset='UTF-8')
  title Список корзин
  link(rel='stylesheet' href='main.css')
  link(href='https://fonts.googleapis.com/css?family=Amaranth|Philosopher&display=swap' rel='stylesheet')
  script(src='https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.0.min.js')
  script(type='text/javascript' src='main.js')
body
  .head
    include includes/header
  .body
    .wrap
      h2 Заказы (корзины)
      include includes/messages
      -if(!baskets[0])
        div Ничего не найдено
      -else
        table
          thead
            tr
              td id
              td Заказ
              td Товар
              td Количество
              td Сумма
          tbody
            -baskets.forEach(function(e){
              tr
                td #{e.id}
                td #{e.order_id}
                td #{e.good}
                td #{e.quantity}
                td #{e.sum}
            -})
  #over.hide
  .form.hide
    form#changeOrder(action='orderList/changeOrder' method='post')
      .text Измените данные заказанных товаров
      input(type='number' name='id' placeholder='id' required='')
      input(type='text' name='good' placeholder='Товар' required='')
      input(type='number' name='quantity' placeholder='Количество' required='')

      input(type='submit' value='Изменить')